
Python/venv/Lib/site-packages/_distutils_hack/__init__.py
Python/venv/Lib/site-packages/_distutils_hack/__pycache__/__init__.cpython-311.pyc
Python/venv/Lib/site-packages/_distutils_hack/__pycache__/override.cpython-311.pyc
Python/venv/Lib/site-packages/_distutils_hack/override.py
Python/venv/Lib/site-packages/distutils-precedence.pth
Python/venv/Lib/site-packages/pip-22.3.1.dist-info/entry_points.txt
Python/venv/Lib/site-packages/pip-22.3.1.dist-info/INSTALLER
Python/venv/Lib/site-packages/pip-22.3.1.dist-info/LICENSE.txt
Python/venv/Lib/site-packages/pip-22.3.1.dist-info/METADATA
Python/venv/Lib/site-packages/pip-22.3.1.dist-info/RECORD
Python/venv/Lib/site-packages/pip-22.3.1.dist-info/REQUESTED
Python/venv/Lib/site-packages/pip-22.3.1.dist-info/top_level.txt
Python/venv/Lib/site-packages/pip-22.3.1.dist-info/WHEEL
